body {
	color: black;
	/*background-color: black;*/
	background-image: url("../images/puck.jpg");
	text-align: center;
	font-family: 'Sintony', sans-serif;
}

span {

}

#container {
	margin: auto;
	width: 80%;
	background-image: url("../images/ice.jpg");
}
h1 {
	color: red;
	text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
	text-align: center;
	font-size: 50px;
	margin-top: 50px;
    padding-top: 10px;
}

#devils {
	height: 180px;
	width: 400px;
	margin-top: 10px;

}

#logo {
	margin: auto;
    width: 60%;
    height: 180px;
	width: 400px;
    
}

h3 {
	color: black;
	text-align: center;
	margin-bottom: 0px;
    padding-bottom: 30px;
}

.results {
	color: black;
	text-align: center;
	font-size: 30px;
	margin-bottom: 0px;
    padding-bottom: 20px;

}

h4 {
	color: black;
	text-align: center;
	margin-bottom: 0px;

}

p {
	color: black;
	text-align: center;
	padding-bottom: 30px;
}

.min-sec{
	text-align: center;
	width: 60px;
}

table{
	color: red;
	text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
	text-align: center;
	font-size: 50px;
}

#time {
	margin: auto;
}

#startButton{
	height: 100px;
    width: 200px;
    margin-bottom: 20px;
    color: red;
    font-family: 'Sintony', sans-serif;
    font-size: 35px;
    font-weight: bold;
}